{%extends "base.html"%}
{%load static%}

{%block myblock%}
<div class=" row">
    
    <div class="col-md-12">
        <img src="{%static 'images/r2.jpg'%}" alt="" height="200">
    </div>
<div class="col-md-12">
<h1>This is a about page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus atque cum sequi perferendis dolores. Culpa maiores accusamus eveniet voluptates tempore recusandae, a qui quam repellat aliquam aut consectetur rem laboriosam.
    
</p>
</div>
</div>
{%endblock%}