{% extends "dsb_base.html" %}
{% load static%}
{% load bootstrap4 %}
{% block dsb %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto  my-4 bg-warning">
            <h1>Add Product</h1>
            <div class="col-md-12 mx-auto  my-4 bg-success">
                {{status}}
            </div>

            <form action="" method="POST" enctype="multipart/form-data">     
                {%csrf_token%}     
                      {% bootstrap_form form %}
                <input type="submit" value="Add Product" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
{%if status%}
<script>
    window.location = "/my_products/"
    
</script>
{%endif%}
{% endblock %}