{%extends "dsb_base.html" %}

{%block dsb %}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto bg-light my-5 p-4">
            <form method="post">
                {% csrf_token %}
                <h1>GET YOUR PASSWORD</h1>
                <HR>
                    {% if msz %}
                    <div class="alert {{col}}">{{msz}}</div>
                {% endif %}
                <div class="form-group">
                    <label for="">current password</label>
                    <input type="password" class="form-control" name="cpwd" required>

                </div>
                <div class="form-group">
                    <label for="">new password</label>
                    <input type="password" class="form-control" name="npwd" id="pas" onkeyup="check_pass()" required>

                </div>
                <div class="form-group">
                    <label for="">confirm new password</label>
                    <input type="password" class="form-control" name="cnpwd" id="cpas" onkeyup="check_pass()" required>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value=" change password" id="sbbtn">

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function check_pass(){
        let p =$("#pas").val();
        let cp =$("#cpas").val();
        if(p==cp){
            $("#pas").css("border","1px solid green");
            $("#cpas").css("border","1px solid green");
            $("#sbbtn").removeAttr("disabled");
        }
        else
        {
            $("#pas").css("border","1px solid red");
            $("#cpas").css("border","1px solid red");
            $("#sbbtn").attr("disabled","disabled");
        }
    }
</script>
{%endblock%}