{%extends "base.html"%}
{%load static%}
{% block myblock%}
<div class="row">
    <div class="col-md-12 bg-warning text-center py-4 text-light">
        <h1>This is a contact page</h1>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6939945.638676332!2d74.8738253!3d31.861865125823023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1585749007517!5m2!1sen!2sin" width=100% height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-md-6">
       <form action="" method="POST">
           {% csrf_token%}
        <div class="form-group">
            <label for="">Your name</label>
            <input type="text"  name="name" class="form-control" placeholder="enter ur name..">
        </div>
        <div class="form-group">
            <label for="">Your Email</label>
            <input type="email"name="email" class="form-control" placeholder="enter ur email..">
        </div>
        <div class="form-group">
            <label for="">contact_no</label>
            <input type="text" name="con" class="form-control" placeholder="enter contact no..">
        </div>
        <div class="form-group">
            <label for="">Subject</label>
            <input type="text" name="sub" class="form-control" placeholder="enter subject..">
        </div>
        <div class="form-group">
            <label for="">Message</label>
            <textarea class="form-control" name="msg"  rows="10"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-warning btn-block" >
            
        </div>
       </form>
    </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque illum accusantium aliquid vero? Harum
            ea reiciendis quis, officiis sapiente ullam hic officia rerum excepturi ut eius a repellendus iste
            facilis.

        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">previous feedbacks</h2>
            <h3 class="text-center">Total:{{messages|length}}</h3>
           
            <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>contact_number</th>
                    <th>subject</th>
                    <th>message</th>
                    <th>date</th>
                </tr>
                </thead>
                <tbody>
                    {%for i in messages%}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.contact_number}}</td>
                        <td>{{i.subjecct}}</td>
                        <td>{{i.message}}</td>
                        <td>{{i.add_on}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
           
        </div>
        {{data}}
    </div>
</div>
{%if status%}
<script>
alert("{{status}}")

</script>
{%endif%}
{%endblock%}