{% extends 'dsb_base.html'%}
{% block dsb%}
<div class=" container-fluid">
    <div class="row">
        <div class=" col-md-6 mx-auto py-4">
            <div class="card">
                <div class="card-header">
                    <h2> My Details dashboard</h2>
                </div>
                <div class="card-body">
                  
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>user ID</th>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr>
                                <th>username</th>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <th>full name</th>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                            </tr>
                            <tr>
                                <th>last login </th>
                                <td>{{user.last_login}} </td>
                            </tr>
                            <tr>
                                <th>Join date </th>
                                <td>{{user.date_joined}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock%}