{%extends "dsb_base.html"%}
{% block dsb%}
<style>
    .modal-backdrop {
        background-color: rgba(0,0,0,.2);
   }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-3">
            <div class="card shadow shadow-lg">
            <div class="card-body">
                <h2 class="text-danger">Are u sure want to delete??</h2>
                <img src="/media/{{product.product_image}}" alt="" height="200" width="80%">
                <h4>{{product.product_name}}</h4>
                <div class="mt-4">
                    <a href="{% url 'delete_product' %}?pid={{product.id}}&&action=confirm" class="btn btn-danger">Confirm Delete</a>
                    <a href="{% url 'my_products' %}" class="btn btn-warning">Cancel</a>
            </div>
            </div>
            </div>

           

    </div>
</div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/my_products/"
</script>
{% endif %}
{%endblock%}