{% extends "base.html"%}
{%load static%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block myblock%}
{% if user.is_superuser%}
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="jumbotron bg-warning">
                    <h1>
                        SORRY DEAR {{user.username}} , permissions are denied..
                    </h1>
                </div>
            </div>
        </div>
    </div>
{%else%}
<div class=" container-fluid">
    <div class="row">
        <!-- left side menu -->
        <div class="col-md-2 bg-warning py-4">
            <nav class="navbar navbar-light">
                <ul class="navbar-nav">
                    <a href="" class="navbar-brand">My dashboard
                        <div class="text-center">
                            {% if data.profile_pic %}
                            <img src="/media/{{data.profile_pic}}" style="height:50px;width:50px;border-radius:50%">
                            {% else %}
                            <img src="{% static 'images/user.png' %}" style="height:50px;width:50px;border-radius:50%">
                            {% endif %}
                        </div>
                    <p>{{user.username}}</p></a>
                    <li class="nav-item">
                        <a href="{% url 'cust_dsb' %}" class="nav-link">view profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'edit_profile'%}" class="nav-link">edit profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'change_pswd'%}" class="nav-link">change password</a>
                    </li>
                    {%if user.is_staff%}
                    <li class="nav-item">
                        <a href="{% url 'add_product_view' %}" class="nav-link">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'my_products' %}" class="nav-link">My Product</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sendemail' %}" class="nav-link">Send Email</a>
                    </li>
                   
                    {%endif%}
                    <li class="nav-item">
                        <a href="{% url 'cart' %}" class="nav-link">My Cart</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'order_history' %}" class="nav-link">Order History</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_logout'%}" class="nav-link">logout</a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- right side menu -->
        <div class="col-md-10">
            {%block dsb%}

            {% endblock %}
        </div>
    </div>
</div>
{%endif%}
{%endblock%}
