{%extends "base.html"%}
{%load static%}
{%block head%}
<style>
    h1{font-family: 'Courier New', Courier, monospace;
color:red}
.bg{height: 200px;background: url("static/images/r2.jpg");}
.myimg{height: 300px; background-size: 100% 100%; background-repeat: no-repeat;}
.box:hover{
  height: 100%;width:100%;
  background: rgba(0,0,0,0.5); color:white; text-align: justify;}
  h1{text-align:center;}
</style>
{%endblock%}
{%block myblock%}
<div class="container-fluid">
  <div class="row py-5 text-center" style="background:url('/static/images/c1.jpg');background-size:100% 100%">
      <div class="col-md-8 mx-auto my-4">
      <form action="{% url 'all_products' %}" >
          <div class="container">
              <div class="row">
              
                  <div class="col-md-5">
                      <input type="text" name="qry" class="form-control" placeholder="Search by Product Name...">
                  </div>
                  {% comment %} <div class="col-md-5">
                      <input type="text" name="price" class="form-control" placeholder="Search by Price Less than...">
                  </div> {% endcomment %}
                  <div class="col-md-2">
                      <button type="submit" class="btn btn-success">Search</button>
                  </div>
              
              </div>
          </div>
          </form>
      </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <h1>Our Categories ({{category|length}})</h1>

  </div>
  {%for c in category %}
    <div class="col-md-4 p-4 text-center">
        <div style="box-shadow:0px 0px 10px black; background:url('/media/{{c.cover_pic}}')"; class="myimg">
        <!-- <img src="/media/{{c.cover_pic}}" alt=""> -->
        <a href="{% url 'all_products' %}?cat={{c.id}}">
        <div class="box" style="height:300px;">
          <h1>{{c.cat_name}}</h1>
          <p>{{c.desc}}</p>
        </div>
      </a>
    </div>
    </div>
   {%endfor%}
</div>
<div class="row">

    <div class="col-md-12 bg">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{%static 'images/a1.jpg'%}" alt="Los Angeles" width="1100" height="200">
              </div>
              {% for i in messages%}
              <div class="carousel-item">
                <img src="{%static 'images/a1.jpg'%}" alt="Los Angeles" width="1100" height="1">
             <h2> {{i.name}}</h2>
             <h2> {{i.contact_number}}</h2>
             <h2> {{i.subjecct}}</h2>
            </div>
              {%endfor%}
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
          
    </div>
</div>
</div>
{% if status%}
<script>
  alert("{{status}}");
  window.location="/"

</script>
{%endif%}
{%endblock%}