{%extends "dsb_base.html"%}
{% block dsb%}
<style>
    .modal-backdrop {
        background-color: rgba(0,0,0,.2);
   }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-2">
            <h2 class="alert alert-primary">dashboard &gt; My products ({{products|length}})</h2>
            <table class=" table">
                <thead>
                    <tr>
                        <th>product id</th>
                        <th> Product image</th>
                        <th> Product Name</th>
                        <th> Seller Name</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    {%for p in products%}
                    <tr>
                        <td>{{p.id}}</td>
                        <td><img src="/media/{{p.product_image}}" style="height: 50px;width:80px;"></td>
                        <td>{{p.product_name}}</td>
                        <td>{{p.seller.first_name}} {{p.seller.last_name}}</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#m{{p.id}}"><i class="fa fa-eye"></i>view</button>
                            <a href="{% url 'update_product'%}?pid={{p.id}}" class="btn btn-warning"><i class="fa fa-edit"></i>edit</a>
                            <a href="{%url 'delete_product'%}?pid={{p.id}}" class="btn btn-danger"><i class="fa fa-trash"></i>delete</a>
                        </td>
                    </tr>
                    <div class="modal fade-in" id="m{{p.id}}" >
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>products details</h4>
                                <button class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <img src="/media/{{p.product_image}}" alt="" height="200" width="100%">
                                <h2></h2>
                                <h2><a href="{%url 'single_product' %}?pid={{p.id}}" > {{p.product_name}}</a></h2>
                                <p>{{p.product_name.cat_name}}</p>
                                <p>
                                    <del>&#8377; {{p.product_price}}</del>
                                    <strong>&#8377; {{p.sale_price}}</strong>
                                </p>
                                <p>{{p.details}}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{%url 'single_product' %}?pid={{p.id}}" class="btn btn-success">view details</a>
                            </div>
                        </div>
                        </div>

                    </div>
        
        {%endfor%}
        </tbody>
        </table>


    </div>
</div>
</div>
{%endblock%}