{%extends "base.html"%}
{% block myblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 px-0" style="background: url('/static/images/3.jpg'); background-size: 100% 100%;">
            <div style="background: rgba(0,0,0,0.5);" class="h-100">

            </div>
        </div>
        <div class="col-md-6">
            <h1>signup here...</h1>
            <form action="" method="POST">
                {%csrf_token%}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">first name</label>
                            <input type="text" class="form-control" id="" placeholder="First name..." name="first">
                        </div>
                        <div class="col-md-6">
                            <label for="">last name</label>
                            <input type="text" class="form-control" id="" placeholder="last name..." name="last">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <small id="result"></small>
                </div>
                <div class="form-group">
                    <label for="">username</label>
                    <input type="text" name="uname" class="form-control" placeholder="enter username.." id="uname" onkeyup="checkuser()">
                </div>
                <div class="form-group">
                    <label for="">password</label>
                    <input type="password" name="password" class="form-control" placeholder="enter username..">
                </div>
                <div class="form-group">
                    <label for="">email</label>
                    <input type="email" name="email" class="form-control" placeholder="enter email..">
                </div>
                <div class="form-group">
                    <label for="">contact_number</label>
                    <input type="number" name="contact" class="form-control" placeholder="enter mobile number..">
                </div>
                <div class="form-group">
                    <label for="">user type</label>
                    <select name="utype" class="form-control">
                        <option value="cust">I'm customer</option>
                        <option value="sell">I'm seller</option>
                    </select>
                </div>
                <div class="form-group">
                    
                    <input type="submit" value="sign up" class="btn btn-warning btn-block" placeholder="enter mobile number.." id="submitbtn">
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    function checkuser(){
        let un = document.getElementById("uname").value;
        $.ajax({
            url:"{% url 'check_us' %}",
            type:"get",
            data:{usern:un},
            success: function(data){
                if(data=="exists"){
                    $("#result").html("this username alresdy taken").addClass("text-danger");
                    $("#uname").addClass("alert alert-danger")
                    $("#submitbtn").attr("disabled","disabled")
                }
                else{
                    $("#result").html("");
                    $("#uname").removeClass("alert alert-danger")
                    $("#submitbtn").removeAttr("disabled")
                }
                
            }

        })
        }
</script>
{% if status%}
<script>
    alert("{{status}}")
    window.location="/"
</script>


{%endif%}

{%endblock%}