{% extends 'dsb_base.html'%}
{% block dsb%}
<div class=" container-fluid">
    <div class="row">
        <div class=" col-md-12">
            <h2> seller dashboard</h2>
            <h1>Welcome {{user.first_name}}  {{user.first_name}}</h1>

        </div>

    </div>

</div>
{%endblock%}