{% extends "dsb_base.html" %}
{% load static %}
{% block head %}
<style>
    .bg-img{
    background:url("/static/images/c2.jpg");
   background-size: 100% 100%;
    height: 200px;
}
</style>
{% endblock %}
{% block dsb %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-img py-5 text-center text-light px-0">
            <h1>Dashboard &gt; Send Email</h1>
        </div>
        <div class="col-md-6  p-3 bg-warning my-5 shadow shadow-lg mx-auto">
            {% if status %}
                <div class="alert {{cls}}">{{status}}</div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">To</label>
                    <input type="text" class="form-control" placeholder="To" name="to">
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" name="sub">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea name="msz"  rows="5" placeholder="Enter Your Mesage" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Email" class="btn btn-outline-primary rounded-pill">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}