{% extends "dsb_base.html"%}
{% block head%}
<style>
    form .row {
        margin-top: 2%;
    }
</style>

{% endblock%}
{%load static%}
{%block dsb%}
<div class="container">
    <div class="row">

        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>DASHBOARD &gt; EDIT PRODUCT</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/media/{{product.product_image}}" height="200" width="80%">
                                <label for="" class="mt-3">update image</label>
                                <input type="file" class="form-control" name="pimg" value="">
                            </div>
                            <div class="col-md-6">
                                <label for="">product name</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="pname" id=""
                                    value="{{product.product_name}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">product category</label>
                            </div>
                            <div class="col-md-6">
                                <select name="pcat" id="" class="form-control">
                                    {% for i in category%}
                                    {%if i.id == product.product_category.id%}
                                    <option value="{{i.id}}" selected>{{i.cat_name}}</option>
                                    {%else%}
                                    <option value="{{i.id}}">{{i.cat_name}}</option>
                                    {%endif%}
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">product price</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="pp" 
                                    value="{{product.product_price}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">sale price</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="sp"
                                    value="{{product.sale_price}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for=""> details</label>
                            </div>
                            <div class="col-md-6">
                                <textarea name="des" id="" class="form-control" rows="6">{{product.details}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-warning" value="SAVE CHANGES">
                            </div>
                            <div class="col-md-6">

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%if status%}
<script>
    alert("{{status}}");
    window.location = "?pid={{id}}";
</script>
{%endif%}
{%endblock%}